/* Write your CSS code here. */
.bg-cont {
  background-image: linear-gradient(to right, #ffeeee, #ffc0bb);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
}
.card {
  background-color: #ffffff;
  width: 80%;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}
.heading {
  color: #0f172a;
}
.feed-emojis {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.love-emoji {
  width: 20%;
}
.support-feedback {
  color: #1e293b;
}
.thank-you {
  color: #0f172a;
}
